* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    min-height: 8000px; 
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #323a54;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: white;

}

.navbar .navbar-logo span {
    color: red;
}

.navbar .navbar-nav a {
    color: white;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;

}


.navbar .navbar-nav a:hover {
    color: rgb(114, 114, 114);

}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid white;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: white;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: white;   
}

#menu {
    display: none;
}

/* Hero */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(img/sirkel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

.hero .content {
    padding: 1.4rem;
    max-width: 60rem;
}

.hero .content a {
    color: #fff;
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 3px;
    margin-bottom: 16px;
    line-height: 1.4rem;
    text-shadow: 4px 4px 3px rgba(1, 1, 3, 0.5);

}

.hero .content h1 {
    font-size: 2rem;
    color: white;
    text-shadow: 4px 4px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 5px 8px;
    font-size: 1.4rem;
    color: white;
    background-color: rgb(69, 61, 61);
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.about {
    padding: 6rem 7% 1.4rem;
}

.about .row {
    display: flex;

}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .content {
    flex: 1 1 200rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    margin-bottom: 1rem;
    font-size: 2rem;

}

.about .row .about-img img {
    width: 15rem;
}

.about h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.about p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 1rem;
}

.about a  {
    color: white;
    margin: 0;
    margin-bottom: 20rem;

}

.piket {
    padding: 6rem 7% 1.4rem;
}



.piket h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 7rem;

}

.mapel {
    padding: 6rem 7% 1.4rem;
}

.mapel h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 6rem;

}


.kotak {
    width: 120px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 15px;
    padding: 20px;
    display: inline-block;
    justify-content: center;
}

.hari {
    color: #000000;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 20px ;
    text-align: center;
}

.nama {
    color: #000000;
    text-align: center;

}

.namas {
    color: #000000;
    text-align: center;
    font-size: 13px;

}

.kotaks {
    width: 112px;
    height: 120px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    display: inline-block;
    justify-content: center;
}






  /* Media Queries */


  /* HandPhone */
  @media (max-width: 758px) {
    html {
      font-size: 65%;
    }
    
  
    #menu {
      display: inline-block;
    }
  
    .navbar .navbar-nav {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: #fff;
      width: 30rem;
      height: 100vh;
      transition: 0.3s;
    }
  
    .navbar .navbar-nav.active {
      right: 0;
    }
  
    .navbar .navbar-nav a {
      color: black;
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
      border-bottom:  0.1rem solid white ;
    }
  
    .navbar .navbar-nav a::after {
      transform-origin: 0 0;
    }
  
    .navbar .navbar-nav a:hover::after {
      transform: scaleX(0.2);
    }
  
    .navbar .search-form {
      width: 90%;
      right: 2rem;
    }
  
    .menu p {
      font-size: 1.2rem;
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 10rem;
        width: 10rem;
        margin-left: 15rem;
        margin-bottom: 0.1rem;
        margin-top: 0.1rem;
      }

      .about .row .content p {
        margin-top: 1rem;
        font-size: 1.8rem;
        text-align: center;
        line-height: 2.3rem;
        margin-bottom: 2rem;
      }

      .about .row .content h3 {
        font-size: 20px;
        text-align: center;
      }

      .about .row .content a {
        margin-left: 18rem;
        transform: scale(1.5);

      }

      .kotak {
        width: 90px;
        height: 120px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        text-align: center;
        margin-bottom: 20px;
        margin-left: 75px;
        margin-right: 15px;
        padding: 20px;
        display: inline-block;
        justify-content: center;
    }

    .kotaks {
        width: 130px;
        height: 120px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        text-align: center;
        margin-bottom: 20px;
        margin-left: 30px;
        margin-right: 15px;
        padding: 20px;
        display: inline-block;
        justify-content: center;
    }



    .hari {
        font-size: 15px;
        margin-bottom: 2%;
    }


    
    }


